
<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Templates/Ready-Bootstrap-Dashboard-master/assets/icons8-admin-100.png">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Selcan
                        <span class="user-level">Administrator</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="#profile">
                                <span class="link-collapse">Profil</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse">Profili Düzenle</span>
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <span class="link-collapse">Ayarlar</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item active">
                <a href="index.html">
                    <i class="la la-dashboard"></i>
                    <p>Dashboard</p>
                   
                </a>
            </li>
            <li class="nav-item">
                <a href="components.html">
                    <i class="la la-table"></i>
                    <p>Hakkında</p>
                    
                </a>
            </li>
            <li class="nav-item">
                <a href="/Product/Index/">
                    <i class="la la-keyboard-o"></i>
                    <p>Mobil Ürünler</p>
                   
                </a>
            </li>
            <li class="nav-item">
                <a href="/Watches/Index/">
                    <i class="la la-th"></i>
                    <p>Akıllı Saatler</p>
                   
                </a>
            </li>
            <li class="nav-item">
                <a href="notifications.html">
                    <i class="la la-bell"></i>
                    <p>İstatistikler</p>
                   
                </a>
            </li>
            <li class="nav-item">
                <a href="/Sale/Index/">
                    <i class="la la-font"></i>
                    <p>Satış</p>
                    
                </a>
            </li>
            <li class="nav-item">
                <a href="/Header/Index/">
                    <i class="la la-font"></i>
                    <p>Anasayfa Yazısı</p>
                    
                </a>
            </li>
            <li class="nav-item">
                <a href="icons.html">
                    <i class="la la-fonticons"></i>
                    <p>Abone E-postalar</p>
                </a>
            </li>
            <li class="nav-item update-pro">
                <button data-toggle="modal" data-target="#modalUpdate">
                    <i class="la la-hand-pointer-o"></i>
                    <p>Çıkış Yap</p>
                </button>
            </li>
        </ul>
    </div>
</div>